<% top50.forEach(function(song) { %>
<div class="songs">
    <li class="list">
    <div class="div">
    <div class="first">
      <p class="rank">
        <%- `#${song.rank}` %>
      </p>
        <p> <%- `(${song.streams} streams)` %> 
      </p>
    </div>
    <div class="second">
      
      <p class="title">
        <%- `${song.title}` %>
      </p>
    
       <p class="artist">
        <%- `by ${song.artist}` %>
       </p>  
    </div>
</div>
    <div class="third">

       <p>
        <%- `publication date: ${song.publicationDate}` %>  
    </p>
    </div>
    </li>
</div>
<% }); %>
